<div class="hero is-dark has-background is-fullheight-with-navbar" style="background-image: url(/assets/image/texture/teal_orange_1.jpg)">
  {# <img class="hero-background is-fixed" src="{{siteurl}}/assets/image/texture/teal_orange_1.jpg"/> #}
  <div class="hero-body bg-img">
    <div class="container has-text-centered">
      <h2 class="title is-primary">
        i am
      </h2>
      <h1 class="title">
        Tom Staijen
      </h1>
      <h2 class="subtitle">
        Scientist, Software Engineer, and Machine Learning Adept
      </h2>
    </div>
  </div>
</div>