<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        <title>tomstaijen.io - {{title}}</title>
        <link rel="shortcut icon" href="{{siteurl}}/assets/favicon.ico" />
        <link rel="stylesheet" href="{{siteurl}}/index.css"/>
        <link href="https://fonts.googleapis.com/css?family=Muli|Source+Code+Pro&display=swap" rel="stylesheet">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/nord.min.css"/> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github-gist.min.css"/>
        <script src="http://localhost:35729/livereload.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
<body>

{% include "navbar.njk" %}

{# {%  include "image-hero.njk" %} #}

{% block body %}
Default body.
{% endblock %}

{% include "footer.njk" %}

</body>
</html>
