<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <img class="navbar-item" src="{{siteurl}}/assets/favicon/favicon-32x32.png"/>
        </div>
        <div class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{{sieturl}}/">Home</a>
                <a class="navbar-item" href="{{sieturl}}/blog">Blog</a>
                <a class="navbar-item"  href="{{sieturl}}/about">About</a>
            </div>
            <!-- navbar start, navbar end -->
        </div>
    </div>
</nav>
