{% extends "layout.njk" %}
{% block body %}

<div class="section">
    <div class="container">
        <div class="content">
            {{ contents | safe }}
        </div>
    </div>
</div>

{% endblock %}
