@charset "utf-8";

$family-primary: 'Muli', sans-serif;
$family-source: 'Source Code Pro', monospace;

// brand colours
$teal: #01D4B4;
$orange: #FF9C00;
$dark: #3F4354;
$darker: #2c2e3a;

$white: #FFFFFF;

// configure bulma
$link: $orange;
$primary: $orange;
//$text: $white;
$text-strong: $teal;


// this  will cause the maximum container width to be 960 instead of 1180
$widescreen-enabled: false;
$fullhd-enabled: false;

$navbar-background-color: $darker;
$navbar-item-hover-background-color: $navbar-background-color;
$navbar-item-color: $white;

$footer-background-color: $darker;
$body-background-color: $dark;

$footer-color: $white;
$body-size: 15px;
$body-color: $white;

$content-text: $white;
$text: $white;

@import "../node_modules/bulma/bulma.sass";

.hero.has-background {
    position: relative;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.hero.has-background { 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.hero-background.is-fixed {
    background-attachment: fixed;
}

.hero-background.is-transparent {
    opacity: 0.3;
}

code {
    font-family: $family-source;
}

// customize bulma after loading


.navbar  {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: $orange;
}